@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
:root 
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body
{
    width: 100%;
}
body
{
    background-color: #f2f2f2;
 font-family: "Raleway", Tahoma, sans-serif;
 color: black;
width: 100%;
}