
@keyframes turn {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@keyframes appearance-box{
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}





