@mixin btn{
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary );
    box-shadow: 3px 3px 10px rgb(177, 177, 177);

    &:hover{
        background: linear-gradient(to bottom right, #f888d8, #995de2);
        box-shadow: 3px 3px 10px rgb(148, 148, 148);
        cursor: pointer;
    }
}

@mixin box-shadow {
    box-shadow: 0 2px 10px rgb(206, 206, 206);
}

@mixin heart{
    padding-right: 50px;
    padding-bottom: 40px;

    i{
        position: absolute;
    }

    .fa-solid{
        color: transparent;
        background-image: linear-gradient(to bottom left, $colour-primary, $colour-secondary);        
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 700ms;
        

        
        &:active{
            opacity: 1;     
        }
        @media(min-width:1100px){
            &:hover{
                opacity: 1;
            }
        }
    }
}

@mixin box-menu {
    display: flex;
    justify-content: space-between;
    height: 65px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 17px;
    @include box-shadow;
    opacity: 0;
    transition-duration: 1000ms;
    @media (min-width: 768px){
        height: 75px;
        width: 95%;
    }
    

    h3{
        margin: 12px 0 2px 12px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition-duration: 1000ms;
        @media (min-width: 768px){
            font-size: 18.46px;
        }
    }

    p{
        margin: 0 0 12px 12px;
        font-size: 16px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        transition-duration: 1000ms;
        @media (min-width: 768px){
            font-size: 18.46px;
        }
    }

    .menu__entitled{
        white-space: nowrap;
        overflow: hidden;
    }
.menu__block-check{
    display: flex;
}

.menu__price{
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    transition-duration: 1000ms;
    @media (min-width: 768px){
        font-size: 23.8px;
    }
}

.menu__icon-slide{
    display: grid;
    align-items: center;
    margin-right: -59px;
    padding-left: 18px;
    padding-right: 18px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    background-color: $colour-tertiary;
    transition: all 500ms;

    i{
        font-size: 23px;
        color: #fff;
    }
}

}


@mixin footer {
    padding: 20px 5% 40px 5%;
    background-color: rgb(48, 48, 48);
    color: #fff;
    @media (min-width: 768px){
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }

    h2{
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        margin-top: 0;
        @media (min-width: 768px){
            text-align: center;
            font-size: 30px;
            padding-top: 20px;
        }
    }

    ul{
        list-style-type: none;
        align-items: flex-start;
        display: contents;
        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        li{
            line-height: 25px;
        }

        i{
            width: 15px;
            margin-right: 10px;
        }
    }
}

